/* Styles de base */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Fond plus clair pour faire ressortir les couleurs orange et bleu */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Animation de fondu pour tous les éléments */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  animation: fadeIn 1s ease-in-out;
}

/* En-tête */
header {
  background-color: #0047ab; /* Bleu foncé */
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Effet de survol pour les liens */
header nav ul li a:hover {
  color: #ffa500; /* Orange */
  text-decoration: underline;
}

/* Section 'À propos' */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  border-radius: 50%;
  animation: rotateIn 2s infinite linear;
}

@keyframes rotateIn {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Galerie */
.gallery-section {
  padding: 20px 0;
}

.travel-item {
  margin-bottom: 20px;
}

.travel-image {
  width: 100%;
  height: auto;
  border: 5px solid #0047ab; /* Bordure bleue */
  transition: transform 0.3s ease-in-out;
}

.travel-image:hover {
  transform: scale(1.05);
}

/* Réseaux sociaux */
.social-media-section {
  padding: 20px 0;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-5px);
}

/* Pied de page */
footer {
  background-color: #0047ab; /* Bleu foncé */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Formulaire de contact */
#contact-form {
  max-width: 500px;
  margin: auto;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffa500; /* Bordure orange */
  border-radius: 5px;
}

#contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #ffa500; /* Bouton orange */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#contact-form button:hover {
  background-color: #0047ab; /* Bleu foncé */
  color: #fff;
}
